<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 04</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
</head>

<body>

    <div class="container">
        <h1><img src="/img/03.jpg" style="width: 100px;" alt="hi">Hi Bootstrap</h1>
        <ul class="list-unstyled">
            <li>Test 1</li>
            <li>Test 2</li>
            <li>Test 3</li>
        </ul>
        <ul>
            <li class="list-inline-item">Test 1</li>
            <li class="list-inline-item">Test 2</li>
            <li class="list-inline-item">Test 3</li>
        </ul>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
        <blockquote class="blockquote">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore molestiae iure necessitatibus, laudantium aperiam alias tempore commodi atque. Error, quia omnis! Reprehenderit temporibus nam quasi harum non earum, nihil similique!
            <div class="blockquote-footer">
                matin ghasemi
            </div>
        </blockquote>
    </div>



    <script src="../js/jquery-3.7.1.min.js" />
    <script src="../js/bootstrap.min.js" />
</body>

</html>