<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 10</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
    <style>
        .item{
            background-color: orange;
            text-align: center;
            border: 1px solid white;
            padding: 0 5px;
        }
    </style>
</head>
<body>
    <div class="container bg-danger">
        <div class="bg-info d-flex" style="height: 100vh;">
            <div class="item align-self-end">Test1</div>
            <div class="item align-self-center">Test2</div>
            <div class="item align-self-sm-start">Test3</div>
            <div class="item align-self-stretch">Test4</div>
            <div class="item align-self-stretch">Test5</div>
            <div class="item align-self-stretch">Test5</div>
            <div class="item align-self-stretch">Test5</div>
        </div>
    </div>
</body>
    <script src="../js/jquery-3.7.1.min.js" />
    <script src="../js/bootstrap.min.js" />
</html>