<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 17</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
    <style>
        .item{
            background-color: orange;
            text-align: center;
            border: 1px solid white;
            padding: 0 5px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm" style="background-color: blueviolet;">
        <div class="container">
            <!-- ml-sm-auto -->
            <div class="navbar-nav ">
                <a class="nav-link nav-item active" href="#">Home</a>
                <!-- DropDown -->
                 <div class="dropdown">
                    <a href="#" class="nav-item nav-link dropdown dropdown-toggle" data-toggle="dropdown">Account</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Register</a>
                        <a href="#" class="dropdown-item">Login</a>
                        <a href="#" class="dropdown-item">Forget Password</a>
                        <a href="#" class="dropdown-item">User Panel</a>

                    </div>
                 </div>
                <!-- End DropDown -->
                <a class="nav-link nav-item" href="#">Login</a>
                <a class="nav-link nav-item" href="#">Contact Us</a>
                <a class="nav-link nav-item disabled" href="#">About</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <section class="col-12">     
                <h2>matin</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quas quo saepe provident veniam fuga accusantium magni animi optio iste quos in, ab soluta consectetur, doloremque deleniti, labore officia quam!</p>
                <h2>matin</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quas quo saepe provident veniam fuga accusantium magni animi optio iste quos in, ab soluta consectetur, doloremque deleniti, labore officia quam!</p>
            </section>
        </div>
    </div>
</body>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</html>