<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 10</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
</head>
<body>
    <div class="container">
        <section class="card mb-5 border-dark">
            <div class="card-header">
                <h2 class="card-title">BlockChain</h2>
                <h5 class="card-subtitle">This is Article</h5>
            </div>
            <img src="../img/03.jpg" class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, eaque quasi eius cumque maxime dicta perspiciatis laboriosam ullam, earum voluptatum doloribus minima esse sit explicabo cum eum possimus, distinctio officiis?</p>
            </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item border-0">Read More</a>
                <a href="#" class="list-group-item border-0">Like</a>
                <a href="#" class="list-group-item border-0">Farvorite</a>
            </div>
        </section>
        <section class="card mb-5 border-dark">
            <div class="card-header">
                <h2 class="card-title">BlockChain</h2>
                <h5 class="card-subtitle">This is Article</h5>
            </div>
            <img src="../img/03.jpg" class="card-img-top img-fluid" alt="">
            <!-- card-img-overlay -->
            <div class="card-body">
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, eaque quasi eius cumque maxime dicta perspiciatis laboriosam ullam, earum voluptatum doloribus minima esse sit explicabo cum eum possimus, distinctio officiis?</p>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link">Read More</a>
                <a href="#" class="card-link">Like</a>
                <a href="#" class="card-link">Farvorite</a>
            </div>
        </section>
        <section class="card mb-5">
            <div class="card-header">
                <h2 class="card-title">BlockChain</h2>
                <h5 class="card-subtitle">This is Article</h5>
            </div>
            <div class="card-body">
                <img src="../img/03.jpg" class="card-img img-fluid" alt="">
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, eaque quasi eius cumque maxime dicta perspiciatis laboriosam ullam, earum voluptatum doloribus minima esse sit explicabo cum eum possimus, distinctio officiis?</p>
            </div>
            <div class="card-footer">
                <a href="#" class="card-link">Read More</a>
                <a href="#" class="card-link">Like</a>
                <a href="#" class="card-link">Farvorite</a>
            </div>
        </section>
        <section class="card mb-5 bg-primary text-light">
            <img src="../img/03.jpg" class="card-img-top img-fluid" alt="">
            <div class="card-body">
                <h2 class="card-title">BlockChain</h2>
                <h5 class="card-subtitle">This is Article</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, eaque quasi eius cumque maxime dicta perspiciatis laboriosam ullam, earum voluptatum doloribus minima esse sit explicabo cum eum possimus, distinctio officiis?</p>
                <a href="#" class="card-link text-light">Read More</a>
                <a href="#" class="card-link text-light">Like</a>
                <a href="#" class="card-link text-light">Farvorite</a>
            </div>
        </section>
    </div>
    
</body>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</html>