<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 31</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
</head>
<body>
    <div class="container">
       <section class="media mt-sm-2">
        <img src="../img/03.jpg" class="d-flex align-self-center mr-3 img-fluid rounded w-25" alt="">
        <div class="media-body">
            <h2>Core 2</h2>
        <h5>Matin</h5>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi earum aut obcaecati reiciendis dolore ullam corrupti possimus soluta fuga delectus eius aliquid beatae, laborum odit iste nemo nobis dolorem distinctio.</p>
        </div>
       </section>
       <section class="media mt-sm-2">
        <img src="../img/03.jpg" class="d-flex align-self-center mr-3 img-fluid rounded w-25" alt="">
        <div class="media-body">
            <h2>Core 2</h2>
        <h5>Matin</h5>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi earum aut obcaecati reiciendis dolore ullam corrupti possimus soluta fuga delectus eius aliquid beatae, laborum odit iste nemo nobis dolorem distinctio.</p>
        </div>
       </section>
       <section class="media mt-sm-2">
        <img src="../img/03.jpg" class="d-flex align-self-center mr-3 img-fluid rounded w-25" alt="">
        <div class="media-body">
            <h2>Core 2</h2>
        <h5>Matin</h5>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi earum aut obcaecati reiciendis dolore ullam corrupti possimus soluta fuga delectus eius aliquid beatae, laborum odit iste nemo nobis dolorem distinctio.</p>
        </div>
       </section>
    </div>
</body>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</html>