<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 14</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
    <style>
        .item{
            background-color: orange;
            text-align: center;
            border: 1px solid white;
            padding: 0 5px;
        }
    </style>
</head>
<body>
    <div class="container">
            <div class="row">
                <section class="col-12">
                    <!-- <ul class="nav">
                        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                        <li class="nav-item"><a class="nav-link disabled" href="#">About</a></li>
                    </ul> -->
                    <!-- justify-content-center -->
                    <!-- nav-justified -->
                    <!-- nav-fill -->
                     
                    <nav class="nav nav-pills flex-column flex-sm-row">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link" href="#">Register</a>
                        <a class="nav-link" href="#">Login</a>
                        <a class="nav-link" href="#">Contact Us</a>
                        <a class="nav-link disabled" href="#">About</a>
                    </nav>
                    <h2>matin</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quas quo saepe provident veniam fuga accusantium magni animi optio iste quos in, ab soluta consectetur, doloremque deleniti, labore officia quam!</p>
                    <h2>matin</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quas quo saepe provident veniam fuga accusantium magni animi optio iste quos in, ab soluta consectetur, doloremque deleniti, labore officia quam!</p>
                </section>
            </div>
        </div>
    </div>
</body>
    <script src="../js/jquery-3.7.1.min.js" />
    <script src="../js/bootstrap.min.js" />
</html>