<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 24</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
</head>
<body>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action active">Item1</li>
        <li class="list-group-item list-group-item-action">Item2</li>
        <li class="list-group-item list-group-item-action">Item3
            <span class="badge badge-primary badge-pill float-right">12</span>
        </li>
        <li class="list-group-item list-group-item-action disabled">Item4</li>
    </ul>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action list-group-item-info">Group1</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success active">Group2</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Group3</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-warning disabled">Group4</a>
    </div>
</body>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</html>