<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 08</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
</head>
<!-- container-fluid -->
<body class="container">
    <div class="row ">
        <!-- <p class="text-justify col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aut ducimus fuga ullam hic facere dolor quaerat aspernatur officiis eaque dolorum dignissimos, mollitia neque minima nemo, earum non dolores accusamus?
        </p>
        <p class="text-justify col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aut ducimus fuga ullam hic facere dolor quaerat aspernatur officiis eaque dolorum dignissimos, mollitia neque minima nemo, earum non dolores accusamus?
        </p>
        <p class="text-justify col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aut ducimus fuga ullam hic facere dolor quaerat aspernatur officiis eaque dolorum dignissimos, mollitia neque minima nemo, earum non dolores accusamus?
        </p> -->
        <div class="bg-info col-sm-6 col-md-4 col-lg-7">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt exercitationem voluptas tenetur veniam obcaecati ex! Dignissimos, modi porro quibusdam at rerum et facere pariatur, reiciendis, perspiciatis qui natus ea adipisci?</div>
        <div class="bg-primary col-sm-6 col-md-4 col-lg-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt exercitationem voluptas tenetur veniam obcaecati ex! Dignissimos, modi porro quibusdam at rerum et facere pariatur, reiciendis, perspiciatis qui natus ea adipisci?</div>
        <div class="bg-danger col-sm-6 col-md-4 col-lg-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt exercitationem voluptas tenetur veniam obcaecati ex! Dignissimos, modi porro quibusdam at rerum et facere pariatur, reiciendis, perspiciatis qui natus ea adipisci?</div>
        <div class="bg-info col">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt exercitationem voluptas tenetur veniam obcaecati ex! Dignissimos, modi porro quibusdam at rerum et facere pariatur, reiciendis, perspiciatis qui natus ea adipisci?</div>
        <div class="bg-primary col">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt exercitationem voluptas tenetur veniam obcaecati ex! Dignissimos, modi porro quibusdam at rerum et facere pariatur, reiciendis, perspiciatis qui natus ea adipisci?</div>
        <div class="bg-danger col">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt exercitationem voluptas tenetur veniam obcaecati ex! Dignissimos, modi porro quibusdam at rerum et facere pariatur, reiciendis, perspiciatis qui natus ea adipisci?</div>
    </div>

    <script src="../js/jquery-3.7.1.min.js" />
    <script src="../js/bootstrap.min.js" />
</body>

</html>