<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 12</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
    <style>
        .item {
            background-color: orange;
            text-align: center;
            width: 150px;
            height: 30px;
            border: 1px solid white;
        }
    </style>
</head>
<body>
    <div class="container bg-danger">
        <!-- flex-sm-row-reverse -->
        <!-- flex-sm-column flex-md-row -->
        <!-- justify-content-center -->
        <!-- justify-content-around -->
        <!-- justify-content-between -->
        <!-- flex-wrap -->
        <!-- flex-nowrap -->
        <!-- align-content-start -->
        <div class="bg-info d-flex flex-wrap align-content-stretch " style="height: 100vh;">
            <div class="item">Test1</div>
            <div class="item">Test2</div>
            <div class="item">Test3</div>
            <div class="item">Test4</div>
            <div class="item">Test5</div>
            <div class="item">Test5</div>
            <div class="item">Test5</div>
        </div>
    </div>
</body>
    <script src="../js/jquery-3.7.1.min.js" />
    <script src="../js/bootstrap.min.js" />
</html>