<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 01</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
</head>

<body>

    <div class="container">
        <h1><img src="/img/03.jpg" style="width: 100px;" alt="hi">Hi Bootstrap</h1>
        <h3 class="text-primary">Text Example</h3>
        <h3 class="text-secondary">Text Example</h3>
        <h3 class="text-success">Text Example</h3>
        <h3 class="text-danger">Text Example</h3>
        <h3 class="text-warning">Text Example</h3>
        <h3 class="text-info">Text Example</h3>
        <h3 class="text-white bg-danger">Text Example</h3>
        <h3 class="text-dark">Text Example</h3>
        <h3 class="text-light">Text Example</h3>
        <div class="bg-primary">
            matin
        </div> 
        <div class="bg-secondary">
            matin
        </div>
        <div class="bg-success">
            matin
        </div>
        <div class="bg-danger">
            matin
        </div>
        <div class="bg-warning">
            matin
        </div>
        <div class="bg-info">
            matin
        </div>
        <div class="bg-white">
            matin
        </div>
        <div class="bg-dark">
            matin
        </div>
        <div class="bg-light">
            matin
        </div>
        <a href="#" class="text-success">click me</a>
        <blockquote class="text-warning">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt, labore. Repellendus vel totam, corporis animi impedit, voluptatem voluptates et, est veritatis doloremque aut? Explicabo facilis modi sunt enim commodi dignissimos.
        </blockquote>
    </div>

    <script src="../js/jquery-3.7.1.min.js" />
    <script src="../js/bootstrap.min.js" />
</body>

</html>