<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 22</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
</head>
<body>
    <h2>matin <span class="badge badge-primary badge-pill">ghasemi</span></h2>
    <p><span class="badge badge-info badge-pill">new</span>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit <span class="badge badge-danger badge-pill">new</span>. Nam eaque, voluptates quibusdam quae commodi aliquid eligendi quidem magni sed esse, dolores beatae quis reprehenderit dignissimos! Ullam nobis adipisci nihil quae!
    </p>
</body>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</html>