<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 02</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
</head>

<body>

    <div class="container">
        <h1>Hi Bootstrap</h1>

        <section class="content" id="testContent">
            <h1>test <small>ffff</small></h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati iste minus optio ea deserunt expedita
                laborum ipsa praesentium consequuntur aperiam non magnam sapiente nobis, dolorum dolores veritatis eos
                ad itaque!</p>
        </section>

        <section class="content">
            <h2>test h2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, at. Culpa dolores deserunt porro modi
                accusamus at autem perspiciatis voluptatum itaque ipsam, consequuntur voluptas molestiae praesentium.
                Eius quas nam suscipit.</p>
            <h3>test h3</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid rem consequatur magnam aliquam quam.
                Quasi, facilis quidem incidunt dignissimos tempore, ab numquam doloribus inventore maiores dolore
                consectetur dolor expedita beatae.</p>
            <div class="h2">exam h2</div>
            <div class="display-1">Display</div>
            <div class="display-2">Display</div>
            <div class="display-3">Display</div>
            <div class="display-4">Display</div>
            <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit totam dolores doloremque provident, inventore dolore iure aliquid, unde ducimus, laudantium accusamus ut esse aut harum modi praesentium cum beatae voluptas.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit totam dolores doloremque provident, inventore dolore iure aliquid, unde ducimus, laudantium accusamus ut esse aut harum modi praesentium cum beatae voluptas.</p>
            <blockquote>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam repellat, et exercitationem error voluptas dignissimos atque nihil quos illo velit quis nesciunt dolores voluptatibus quaerat aperiam, corrupti incidunt. Laudantium, dolorum?
            </blockquote>
        </section>
    </div>



    <script src="../js/jquery-3.7.1.min.js" />
    <script src="../js/bootstrap.min.js" />
</body>

</html>