<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 15</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
    <style>
        .item{
            background-color: orange;
            text-align: center;
            border: 1px solid white;
            padding: 0 5px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm" style="background-color: blueviolet;">
        <div class="navbar-nav container">
            <a class="nav-link nav-item active" href="#">Home</a>
            <a class="nav-link nav-item" href="#">Register</a>
            <a class="nav-link nav-item" href="#">Login</a>
            <a class="nav-link nav-item" href="#">Contact Us</a>
            <a class="nav-link nav-item disabled" href="#">About</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <section class="col-12">     
                <h2>matin</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quas quo saepe provident veniam fuga accusantium magni animi optio iste quos in, ab soluta consectetur, doloremque deleniti, labore officia quam!</p>
                <h2>matin</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quas quo saepe provident veniam fuga accusantium magni animi optio iste quos in, ab soluta consectetur, doloremque deleniti, labore officia quam!</p>
            </section>
        </div>
    </div>
</body>
    <script src="../js/jquery-3.7.1.min.js" />
    <script src="../js/bootstrap.min.js" />
</html>