<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 30</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
</head>
<body>
    <div class="container">
        <!-- card-group -->
        <!-- card-deck -->
        <div class="card-group row">
            <div class="col-sm-6 col-md-4">
                <section class="card mb-5 border-dark">
                    <img src="../img/03.jpg" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <h2 class="card-title">BlockChain</h2>
                        <h5 class="card-subtitle">This is Article</h5>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, eaque quasi eius cumque maxime dicta perspiciatis laboriosam ullam, earum voluptatum doloribus minima esse sit explicabo cum eum possimus, distinctio officiis?</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Read More</a>
                        <a href="#" class="card-link">Like</a>
                        <a href="#" class="card-link">Farvorite</a>
                    </div>
                </section>
            </div>
            <div class="col-sm-6 col-md-4">
                <section class="card mb-5 border-dark">
                    <img src="../img/03.jpg" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <h2 class="card-title">BlockChain</h2>
                        <h5 class="card-subtitle">This is Article</h5>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, eaque quasi eius cumque maxime dicta perspiciatis laboriosam ullam, earum voluptatum doloribus minima esse sit explicabo cum eum possimus, distinctio officiis?</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Read More</a>
                        <a href="#" class="card-link">Like</a>
                        <a href="#" class="card-link">Farvorite</a>
                    </div>
                </section>
            </div>
            <div class="col-sm-6 col-md-4">
                <section class="card mb-5 border-dark">
                    <img src="../img/03.jpg" class="card-img-top img-fluid" alt="">
                    <div class="card-body">
                        <h2 class="card-title">BlockChain</h2>
                        <h5 class="card-subtitle">This is Article</h5>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, eaque quasi eius cumque maxime dicta perspiciatis laboriosam ullam, earum voluptatum doloribus minima esse sit explicabo cum eum possimus, distinctio officiis?</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">Read More</a>
                        <a href="#" class="card-link">Like</a>
                        <a href="#" class="card-link">Farvorite</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
</body>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</html>