<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 23</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
</head>
<body>
    <div class="progress">
        <div class="progress-bar w-50 bg-success">
            50%
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar w-50 bg-dark progress-bar-striped">
            50%
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar w-50 bg-info progress-bar-animated progress-bar-striped">
            50%
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar bg-info w-50">50%</div>
        <div class="progress-bar bg-success w-25">25%</div>
        <div class="progress-bar bg-warning w-25">25%</div>
    </div>
</body>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</html>