<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 10</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
</head>
<body>
    <header class="jumbotron jumbotron-fluid mt-0">
        <div class="container">
            <div class="display-2 mb-4">
                matin
            </div>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi quibusdam beatae ut distinctio quasi quaerat. Quas, et. Ducimus sunt tempore minima fugiat deleniti! Doloribus veritatis eum numquam? Ratione, excepturi?
            </p>
        </div>
    </header>
    <div class="container">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut asperiores assumenda ratione dolore cum saepe excepturi cumque, iusto quisquam nulla? Illum saepe itaque ducimus aliquam, a esse sit perspiciatis non?
        </p>
    </div>
</body>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</html>