<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 10</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
</head>
<body>
    <!-- table-striped -->
    <!-- table-dark -->
    <!-- table-sm -->
    <table class="table text-center table-bordered table-responsive-sm">
        <!-- thead-dark -->
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Family</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <td>1</td>
                <td>Matin</td>
                <td>Ghasemi</td>
                <td>Matin001037@gmail.com</td>
                <td>09133333333</td>
                <td>23</td>
            </tr>
            <tr class="table-success">
                <td>2</td>
                <td>Maz</td>
                <td>deh</td>
                <td>Matin001037@gmail.com</td>
                <td>09133333333</td>
                <td>23</td>
            </tr>
            <tr>
                <td>3</td>
                <td class="table-danger">Maz</td>
                <td>deh</td>
                <td>Matin001037@gmail.com</td>
                <td>09133333333</td>
                <td>23</td>
            </tr>
            <tr class="bg-warning">
                <td>3</td>
                <td>Maz</td>
                <td>deh</td>
                <td class="table-dark">Matin001037@gmail.com</td>
                <td>09133333333</td>
                <td>23</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Maz</td>
                <td>deh</td>
                <td>Matin001037@gmail.com</td>
                <td>09133333333</td>
                <td>23</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Maz</td>
                <td>deh</td>
                <td>Matin001037@gmail.com</td>
                <td>09133333333</td>
                <td>23</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Maz</td>
                <td>deh</td>
                <td>Matin001037@gmail.com</td>
                <td>09133333333</td>
                <td>23</td>
            </tr>
        </tbody>
    </table>
</body>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</html>