<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 03</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
</head>

<body>

    <div class="container">
        <h1><img src="/img/03.jpg" style="width: 100px;" alt="hi">Hi Bootstrap</h1>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem quidem eveniet illo! Illo ipsa voluptas minima natus, delectus odio nulla aliquam consequatur iure eos quis esse quia, libero voluptatem facilis.</p>
        <p class="text-nowrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum voluptatibus doloribus illum accusamus tempore sapiente eveniet voluptate impedit dolorem assumenda velit minus fugiat ipsa earum maiores obcaecati quisquam, nemo non.</p>
        <p class="text-center"> test </p>
        <p class="text-right"> test </p>
        <p class="text-left"> test </p>
        <p>sm>576px</p>
        <p>md>798px</p>
        <p>lg>993px</p>
        <p>xl>1200px</p>
        <p class="text-sm-center text-md-right text-lg-right text-xl-right">mmm</p>
        <p class="text-lowercase">mmm</p>
        <p class="text-uppercase">mmm</p>
        <p class="text-capitalize">matin ghasemi</p>
        <p class="text-capitalize font-weight-bold">matin ghasemi</p>
        <p class="text-capitalize font-weight-normal">matin ghasemi</p>
        <p class="text-capitalize font-italic">matin ghasemi</p>
    </div>



    <script src="../js/jquery-3.7.1.min.js" />
    <script src="../js/bootstrap.min.js" />
</body>

</html>