<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap4 01</title>
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/customCss.css">
    <style>
        :root{
            --matin: #c4226f;
        }
    </style>
</head>

<body>

    <div class="container">
        <h1><img src="/img/03.jpg" style="width: 100px;" alt="hi">Hi Bootstrap</h1>
        <h2 class="text-danger">Mission</h2>
        <p class="bg-danger text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi deleniti molestiae quas ipsa ratione laborum, incidunt esse qui quasi dicta tempora nemo ipsum possimus! Ex reiciendis asperiores ipsa tenetur odio!
        </p>
        <h2 style="color: var(--matin);">
            matin
        </h2>
    </div>

    <script src="../js/jquery-3.7.1.min.js" />
    <script src="../js/bootstrap.min.js" />
</body>

</html>